<div class="topic-index-wrapper">
  <div class="container">
    <% @topic_favorite_topics.each do |topic| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="topic-index-single">
          <h2 class="topic-author">
            <% if topic.user.avatar.url %>
            <%= image_tag topic.user.avatar.url, class: 'image-circle' %>
            <% else %>
            <%= image_tag 'icons/default.png', class: 'image-circle' %>
            <% end %>
            <%= topic.user.name %>
          </h2>
          <hr>
          <p class="topic-title">
            年収
          </p>
          <p class="topic-text">
            <%= topic.salary %>
          </p>

          <p class="topic-title">
            連絡先
          </p>
          <p class="topic-text">
            <%= topic.phone %>
          </p>

          <p class="topic-title">
            概要
          </p>
          <p class="topic-text">
            <%= topic.description %>
          </p>
          <%= image_tag topic.image.url %>
          <p class="topic-title">
            <% if user_signed_in? && current_user.id == topic.user_id %>
            <%= link_to "編集", edit_topic_path(topic.id), class: 'btn-common btn-edit text-white' %>
            <% end %>

            <% if user_signed_in? && current_user.id == topic.user_id %>
            <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn-common btn-delete text-white' %>
            <% end %>

            <%= link_to "お気に入りから削除する", topic_favorite_path(topic, topic_id: topic.id), method: :delete, class: 'btn-common btn-delete text-white' %>
          </p>
          <p id="pageTop"><a href="#">トップへ</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
