<%= form_for @topic do |f| %>

<div class="form-group2">
  <%= f.label :salary %>
  <%= f.number_field :salary, :placeholder => "100", class: 'form-control2' %><i>万円</i>
</div>
<div class="form-group" >
  <%= f.label :phone %>
  <%= f.text_field :phone,:placeholder => "0311111111 or 09011111111", class: 'form-control' %>
</div>
<div class="form-group2" >
  <%= f.label :college %>
  <%= f.text_field :college,:placeholder => "東京", class: 'form-control2' %><i>大学</i>
</div>
<div class="form-group" >
  <%= f.label :address %>
  <%= f.text_field :address,:placeholder => "東京都新宿区１−１−１", class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field :image, class: 'form-cotrol' %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description,:placeholder => "英検二級、普通自動車免許（AT）etc...", class: 'form-control' %>
</div>

<%= f.submit '投稿', class: 'btn btn-black btn-block' %>
<% end %>
