<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="topic-index-single">
          <h2 class="topic-author">
            <%= topic.user.name %>
          </h2>
          <hr>
          <p class="topic-title">
            年収
          </p>
          <p class="topic-text">
            <%= topic.salary %>
          </p>

          <p class="topic-title">
            連絡先
          </p>
          <p class="topic-text">
            <%= topic.phone %>
          </p>

          <p class="topic-title">
            概要
          </p>
          <p class="topic-text">
            <%= topic.description %>
          </p>
          <%= image_tag topic.image.url %>
          <p class="topic-title">
            <% if user_signed_in? && current_user.id == topic.user_id %>
            <%= link_to "編集", edit_topic_path(topic.id), :style=>"color:yellow;" %>
            <% end %>
          </p>
          <p class="topic-title">
            <% if user_signed_in? && current_user.id == topic.user_id %>
            <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: "本当に削除しますか？"}, :style=>"color:red;" %>
            <% end %>
          </p>

          <% if !topic.topic_favorite_users.include?(current_user) %>
          <%= link_to topic_favorites_path(topic_id: topic.id), method: :post do %>
          <%= image_tag 'icons/heart.png', class: 'topic-index-icon' %>
          <% end %>
          <% end %>

          <%= link_to new_topic_comment_path(topic_id: topic.id) do %>
           <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
          <% end %>

          <h3 class="topic-title">
            コメント
          </h3>
          <% topic.topic_comments.each do |comment| %>
          <p class="topic-title">
            <%= comment.user.name %>
          </p>
          <p class="topic-text">
            <%= comment.comment %>
          </p>
          <p class="topic-text">
            <% if user_signed_in? && current_user.id == comment.user_id %>
            <%= link_to "削除", topic_comment_path(topic, topic_id: topic.id), method: :delete, :style=>"color:red;" %>
            <% end %>
          </p>
          <% end %>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
