<h1>Chat Room</h1>
<% if user_signed_in? %>
<div id="messages", data-room_id="<%= @room.id %>", data-user_id="<%= @user.id %>">
  <%= render @messages %>
</div>
<form>
  <label>Say Something:</label><br>
  <%= current_user.name %><br>
<input type="text" data-behavior='room_speaker'>
</form>
<% elsif %>
<div id="messages", data-room_id="<%= @room.id %>", data-company_id="<%= @company.id %>">
  <%= render @messages %>
</div>
<form>
  <label>Say Something:</label><br>
  <%= current_company.name %><br>
<input type="text" data-behavior='room_speaker'>
</form>
<% end %>
