<div class="room-wrapper">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="room-single">
      <h1 class="text-center text-white">Chat Room</h1>
      <% if user_signed_in? %>
      <div id="messages", data-room_id="<%= @room.id %>", data-user_id="<%= @user.id %>">
        <%= render @messages %>
      </div>
      <div class="chat-box">
        <div class="chat-area">
          <div class="chat-hukidashi">
      <form>
        <label>Say Something:</label><br>
        <%= current_user.name %><br>
        <input type="text" data-behavior='room_speaker'>
      </form>
    </div>
  </div>
</div>

      <% elsif %>
      <div id="messages", data-room_id="<%= @room.id %>", data-company_id="<%= @company.id %>">
        <%= render @messages %>
      </div>
      <div class="chat-box">
        <div class="chat-area">
          <div class="chat-hukidashi">
      <form>
        <label>Say Something:</label><br>
        <%= current_company.name %><br>
        <input type="text" data-behavior='room_speaker'>
      </form>
    </div>
  </div>
</div>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
