<!DOCTYPE html>
<html>
  <head>
    <title>MatchingConflux</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>

    <% if flash[:notice] %>
    <div class="alert alert-success text-center">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger text-center">
      <%= flash[:alert] %>
    </div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-ct-transparent">
      <div class="container">
        <% if user_signed_in? %>
        <%= link_to "MatchingConflux", "/users/#{current_user.id}", class: 'navbar-brand'  %>
        <% elsif company_signed_in? %>
        <%= link_to "MatchingConflux", "/companies/#{current_company.id}", class: 'navbar-brand'  %>
        <% else %>
        <%= link_to "MatchingConflux", root_path, class: 'navbar-brand'  %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li>
            <%= link_to "投稿", new_topic_path, class: 'btn btn-common btn-topic'  %>
          </li>

          <li>
            <%= link_to "ログアウト", '/users/sign_out', class: 'btn btn-common btn-logout' %>
          </li>

          <% elsif company_signed_in? %>
          <li>
            <%= link_to "投稿", new_profile_path, class: 'btn btn-common btn-topic'  %>
          </li>

          <li>
          <%= link_to "ログアウト", '/companies/sign_out', class: 'btn btn-common btn-logout' %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
